.contacts {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(96%, #FFF5F6), color-stop(4%, #FFFFFF));
  background-image: linear-gradient(to top, #FFF5F6 96%, #FFFFFF 4%);
  height: 1586px;
}

@media screen and (min-width: 768px) {
  .contacts {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(93%, #FFF5F6), color-stop(7%, #FFFFFF));
    background-image: linear-gradient(to top, #FFF5F6 93%, #FFFFFF 7%);
    height: 834px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts {
    background-image: url(../images/sectionbg2.png), -webkit-gradient(linear, left bottom, left top, color-stop(99%, #FFF5F6), color-stop(1%, #FFFFFF));
    background-image: url(../images/sectionbg2.png), linear-gradient(to top, #FFF5F6 99%, #FFFFFF 1%);
    background-position-y: 102px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 867px;
  }
}

body {
  font-family: "DM Sans", sans-serif, "DM Sans", sans-serif;
  color: #D41443;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 34px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 115px;
  }
}

.footer {
  background-color: #FFF5F6;
  text-decoration: none;
}

.footer__text-style_01, .footer__text-style_02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
.last-child {
  padding-bottom: 43px;
}

@media screen and (min-width: 1280px) {
  .last-child {
    padding-bottom: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cards-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.145;
  padding: 0px 20px;
}

.footer__text-style_01 {
  font-size: 18px;
  color: #FFA5BA;
  padding-bottom: 17px;
}

.footer__text-style_02 {
  font-size: 34px;
  color: #D41443;
  letter-spacing: 0.04em;
  padding-bottom: 43px;
}

.footer__text-style_03, .footer__text-style_04 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.footer__text-style_03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  font-size: 12px;
  line-height: 1.86;
  padding: 46px 20px 43px 20px;
  color: #000000;
}

.footer__text-style_03b {
  text-decoration: none;
  font-weight: 500;
  color: #D41443;
}

.footer__text-style_04 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  line-height: 1.52;
  padding: 22px 0px 25px 0px;
  text-transform: capitalize;
  text-align: center;
  border-top: 1px solid #E1E1E1;
  color: #907E82;
}

.footer__list {
  list-style: none;
  text-decoration: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 0px 20px;
}

.footer__list :not(:last-child) {
  margin-right: 28px;
}

.footer__list :hover, .footer__list :focus {
  background-color: #D41443;
}

.footer__item {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #FEA5BB;
  fill: #FFFFFF;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 91px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__text-style_01, .footer__text-style_02 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0px;
  }
  .footer__text-style_01 {
    font-size: 26px;
    padding-bottom: 16px;
    letter-spacing: 0.04em;
  }
  .footer__text-style_02 {
    font-size: 48px;
    letter-spacing: 0.06em;
  }
  .footer__text-style_03, .footer__text-style_04 {
    font-size: 14px;
  }
  .footer__text-style_03 {
    padding: 0px;
    padding-top: 46px;
  }
  .footer__text-style_04 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    line-height: 1.52;
    letter-spacing: 0.02em;
    padding: 29px 0px 18px 0px;
  }
  .footer__list {
    padding: 0px;
  }
  .footer__list :not(:last-child) {
    margin-right: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards-list-first {
  padding-top: 43px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  width: 220px;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}

.cards-list-second {
  border-radius: 24px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  width: 220px;
  padding-top: 43px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
}

.cards-list-third {
  padding-top: 43px;
  border-radius: 24px;
  width: 220px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  margin-bottom: 54px;
  background-color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .cards-list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cards-list-first {
    padding-top: 43px;
    border-radius: 24px;
    -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
            box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    width: 220px;
    background-color: #FFFFFF;
    margin-bottom: 0;
  }
  .cards-list-second {
    border-radius: 24px;
    -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
            box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    width: 220px;
    padding-top: 43px;
    margin-bottom: 0px;
    background-color: #FFFFFF;
  }
  .cards-list-third {
    padding-top: 43px;
    border-radius: 24px;
    width: 220px;
    background-color: #FFFFFF;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .cards-list-first {
    padding-top: 43px;
    border-radius: 24px;
    -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
            box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    width: 330px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    margin-right: 31px;
  }
  .cards-list-second {
    border-radius: 24px;
    -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
            box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    width: 330px;
    padding-top: 43px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    margin-right: 31px;
  }
  .cards-list-third {
    padding-top: 43px;
    border-radius: 24px;
    width: 330px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
            box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    background-color: #FFFFFF;
  }
}

.header-contacts {
  display: none;
}

.cards-list-first-list__title {
  background-color: #F0D1A5;
  width: 80px;
  height: 16px;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.833;
  letter-spacing: 0.04em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  margin-bottom: 25px;
}

.cards-list-first-list__item {
  margin-left: 20px;
}

.cards-list-first-list .underline::after {
  content: "";
  width: 179px;
  height: 1px;
  background-color: #E1E1E1;
  display: block;
  margin-bottom: 25px;
}

.city {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.833;
  letter-spacing: 0.04em;
  color: #000000;
}

.text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.833;
  letter-spacing: 0.04em;
  color: #907E82;
  margin-bottom: 25px;
}

.opening-days {
  font-size: 12px;
  line-height: 1.833;
  letter-spacing: 0.04em;
  color: #000000;
  font-weight: 500;
}

.opening-hours {
  font-size: 12px;
  line-height: 1.833;
  letter-spacing: 0.04em;
  color: #907E82;
  margin-bottom: 25px;
}

.opening-weekend {
  font-size: 12px;
  line-height: 1.833;
  letter-spacing: 0.04em;
  color: #000000;
  font-weight: 500;
}

.phone-number {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #907E82;
  text-decoration: none;
}

.e-mail {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #907E82;
  padding-bottom: 43px;
  text-decoration: none;
}

.cards-list-second-list__title {
  font-size: 12px;
  background-color: #C2E297;
  width: 130px;
  height: 16px;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.833;
  letter-spacing: 0.04em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  margin-bottom: 25px;
}

.cards-list-second-list__item {
  margin-left: 20px;
  font-size: 12px;
}

.underline::after {
  content: "";
  width: 179px;
  height: 1px;
  background-color: #E1E1E1;
  display: block;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .cards-list-first-list__title {
    background-color: #F0D1A5;
    width: 80px;
    height: 16px;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
    margin-bottom: 25px;
  }
  .cards-list-first-list__item {
    margin-left: 20px;
    font-size: 14px;
  }
  .cards-list-first-list .underline::after {
    content: "";
    width: 179px;
    height: 1px;
    background-color: #E1E1E1;
    display: block;
    margin-bottom: 25px;
  }
  .city {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    color: #000000;
  }
  .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    color: #907E82;
    margin-bottom: 25px;
  }
  .opening-days {
    font-size: 14px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    color: #000000;
    font-weight: 500;
  }
  .opening-hours {
    font-size: 14px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    color: #907E82;
    margin-bottom: 25px;
  }
  .opening-weekend {
    font-size: 14px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    color: #000000;
    font-weight: 500;
  }
  .phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #907E82;
    text-decoration: none;
  }
  .e-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #907E82;
    padding-bottom: 43px;
    text-decoration: none;
  }
  .cards-list-second-list__title {
    font-size: 12px;
    background-color: #C2E297;
    width: 130px;
    height: 16px;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
    margin-bottom: 25px;
  }
  .cards-list-second-list__item {
    margin-left: 20px;
    font-size: 14px;
  }
  .underline::after {
    content: "";
    width: 179px;
    height: 1px;
    background-color: #E1E1E1;
    display: block;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .cards-list-first-list__title {
    background-color: #F0D1A5;
    width: 80px;
    height: 16px;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
    margin-bottom: 25px;
  }
  .cards-list-first-list__item {
    margin-left: 20px;
    font-size: 16px;
  }
  .cards-list-first-list .underline::after {
    content: "";
    width: 179px;
    height: 1px;
    background-color: #E1E1E1;
    display: block;
    margin-bottom: 25px;
  }
  .city {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    color: #000000;
  }
  .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    color: #907E82;
    margin-bottom: 25px;
  }
  .opening-days {
    font-size: 16px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    color: #000000;
    font-weight: 500;
  }
  .opening-hours {
    font-size: 16px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    color: #907E82;
    margin-bottom: 25px;
  }
  .opening-weekend {
    font-size: 16px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    color: #000000;
    font-weight: 500;
  }
  .phone-number {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #907E82;
    text-decoration: none;
  }
  .e-mail {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #907E82;
    padding-bottom: 43px;
    text-decoration: none;
  }
  .cards-list-second-list__title {
    font-size: 12px;
    background-color: #C2E297;
    width: 130px;
    height: 16px;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.833;
    letter-spacing: 0.04em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
    margin-bottom: 25px;
  }
  .cards-list-second-list__item {
    margin-left: 20px;
    font-size: 16px;
  }
  .underline::after {
    content: "";
    width: 179px;
    height: 1px;
    background-color: #E1E1E1;
    display: block;
    margin-bottom: 25px;
  }
}

.location-btn {
  background-color: #D41443;
  border-radius: 22px;
  border: 0;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 10px;
  background-image: url("../images/btn-icon.svg");
  background-size: 5%;
  background-repeat: no-repeat;
  background-position: center 51%;
  background-position-x: 85%;
  cursor: pointer;
}

.franchise-btn {
  background-color: #FFFFFF;
  border-radius: 22px;
  border: 0;
  color: #D41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url("../images/btn-icon-2.svg");
  background-size: 5%;
  background-repeat: no-repeat;
  background-position: center 51%;
  background-position-x: 85%;
  cursor: pointer;
}

.franchise-btn:hover {
  background-color: #ECEBEB;
  border-radius: 22px;
  border: 0;
  color: #D41443;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url("../images/btn-icon-2.svg");
  background-size: 5%;
  background-repeat: no-repeat;
  background-position: center 51%;
  background-position-x: 85%;
}

.text-btn {
  padding-left: 17px;
  padding-right: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .text-btn {
    padding-left: 30px;
    padding-right: 53px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 98px;
  }
  .footer__left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__text-style_01, .footer__text-style_02 {
    display: inline;
    padding: 0px;
  }
  .footer__text-style_01 {
  .text-btn {
    padding-left: 35px;
    padding-right: 54px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.text-btn-franchise {
  padding-left: 30px;
  padding-right: 49px;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .text-btn-franchise {
    padding-left: 38px;
    padding-right: 56px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .text-btn-franchise {
    padding-left: 39px;
    padding-right: 58px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .btns-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 81px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .btns-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 30px;
    padding-bottom: 15px;
    letter-spacing: 0.04em;
  }
  .footer__text-style_02 {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
  .footer__text-style_03 {
    padding-top: 50px;
  }
  .footer__text-style_03, .footer__text-style_04 {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
  .footer__text-style_04 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 9px 0px 10px 0px;
  }
  .footer__list :not(:last-child) {
    margin-right: 25px;
    margin-top: 66px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .location-btn {
    background-color: #D41443;
    border-radius: 22px;
    border: 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .location-btn {
    background-color: #D41443;
    border-radius: 22px;
    border: 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-right: 15px;
  }
  .franchise-btn {
    background-color: #FFFFFF;
    border-radius: 22px;
    border: 0;
    color: #D41443;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.mobile-menu {
  background-color: #E17992;
  position: fixed;
  height: 100%;
  width: 250px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.mobile-menu-list {
  list-style: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.302;
  padding-bottom: 50px;
}

.mobile-menu-list__item {
  border-bottom: 1px solid #E18298;
  padding: 13px 0px 13px 21px;
}

.mobile-menu-list__item:first-child {
  border-top: 1px solid #E18298;
}

.mobile-menu-list__link {
  text-decoration: none;
  color: #FFFFFF;
}

.mobile-menu-list__link:hover, .mobile-menu-list__link:focus {
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 250px;
  }
  .mobile-menu-list__item {
    padding: 13px 0px 13px 24px;
    
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  text-align: center;
  color: #D41443;
  border-radius: 22px;
  border-style: none;
  cursor: pointer;
}

.gallery {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #FFFFFF), color-stop(40%, #FFF5F6));
  background-image: linear-gradient(to top, #FFFFFF 60%, #FFF5F6 40%);
}

img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -18px;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 767px) {
  img {
    margin-left: -9px;
  }
}

@media screen and (min-width: 1200px) {
  img {
    margin-left: 0px;
  }
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  text-align: center;
  color: #D41443;
  border-radius: 22px;
  border-style: none;
  cursor: pointer;
}

.advantages .container {
  padding-bottom: 97px;
}

.advantages {
  background-color: #FFF5F6;
}

.advantages__first-heading {
  display: none;
}

.advantages__item--cow {
  margin-bottom: 16px;
}

.advantages__item--fruit {
  margin-bottom: 16px;
}

.advantages__item--heart {
  margin-bottom: 16px;
}

.advantages__paragraph {
  width: 98px;
  height: 56px;
}

.number {
  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.advantages__description {
  width: 230px;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
}

.advantages__group:not(:last-child) {
  margin-bottom: 38px;
}

@media screen and (min-width: 768px) {
  .advantages .container {
    padding-bottom: 140px;
  }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advantages__group {
    display: block;
  }
  .advantages__group:not(:last-child) {
    margin-right: 60px;
  }
  .advantages__item--cow,
  .advantages__item--fruit,
  .advantages__item--heart {
    margin-bottom: 36px;
  }
  .number {
    font-size: 48px;
    line-height: 55px;
    text-transform: none;
  }
  .advantages__description {
    width: 180px;
    height: 67px;
    font-size: 14px;
    line-height: 174%;
  }
}

@media screen and (min-width: 1280px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advantages__group {
    display: block;
  }
  .advantages__group:not(:last-child) {
    margin-right: 30px;
  }
  .advantages__item--cow,
  .advantages__item--fruit,
  .advantages__item--heart {
    margin-bottom: 40px;
  }
  .number {
    font-size: 58px;
    line-height: 66px;
    margin-bottom: 15px;
    text-transform: none;
  }
  .advantages__description {
    width: 330px;
    height: 52px;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
  }
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  text-align: center;
  color: #D41443;
  border-radius: 22px;
  border-style: none;
  cursor: pointer;
}

.button__mobile {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  margin-bottom: 19px;
}

.button_icon-close {
  fill: #FFFFFF;
}

.button_name {
  width: 91px;
  height: 44px;
  padding: 14px 50px 14px 20px;
}

.button_icon-buy-now {
  padding-right: 48px;
  fill: #D41443;
  
.about {
  background-color: #FFF5F6;
  height: 1639px;
  background-image: url(../images/mleko_mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 50%;
}

@media screen and (min-width: 768px) {
  .about {
    background-color: #FFF5F6;
    height: 1639px;
    background-image: none;
  }
}

.undertitle {
  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 15px;
  padding-top: 125px;
}

.about_content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sectiontitle {
  margin-bottom: 26px;
  max-width: 200px;
  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.title_picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paragraphs_main {
  margin-bottom: 47px;
}

.paragraphs {
  margin-left: 50px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
  margin-top: 46px;
  margin-left: 50px;
  margin-right: 50px;
}

.section-headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.paragraphs_main--second {
  color: #907E82;
  margin-bottom: 17px;
}

.about_btn {
  margin-top: 17px;
}

.svg {
  width: 4.43px;
  height: 8px;
  margin-left: 13.62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.about .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 176px;
  height: 44px;
  background: #FFFFFF;
  border-radius: 22px;
}

.button .about_btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 176px;
  height: 44px;
}

@media screen and (min-width: 768px) {
  .content-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.undertitle {
  font-size: 26px;
  line-height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.sectiontitle {
  margin-bottom: 50px;
  max-width: 100%;
  max-height: 55px;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.04em;
}

.title_picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 340px;
  height: 339px;
  margin-right: 17px;
}

.paragraphs {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 24.64px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .paragraphs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24.64px;
    margin-left: 15px;
  }
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 176px;
  height: 44px;
  background: #FFFFFF;
  border-radius: 22px;
  margin-top: 62px;
}

.about_btn:hover {
  background-color: #ECEBEB;
}

@media screen and (min-width: 1280px) {
  .undertitle {
    font-size: 30px;
    line-height: 34px;
  }
  .about_content {
    -webkit-box-pack: flex;
        -ms-flex-pack: flex;
            justify-content: flex;
    width: auto;
  }
  .sectiontitle {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
  }
  .title_picture {
    width: 516px;
    height: 516px;
    margin-right: 74px;
  }
  .paragraphs_main {
    max-width: 100%;
  }
  .paragraphs_main:not(:last-child) {
    margin-bottom: 35px;
  }
  .paragraphs {
    margin: 0;
    max-width: 100%;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
  }
  .button,
  .about_btn {
    margin-top: 45px;
    text-align: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .about {
    height: 1211px;
    background-image: url(../images/mleko_desktop.png);
    background-repeat: no-repeat;
    background-position-y: 280px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .about {
    background-image: url(../images/mleko@2x_desktop.png);
    background-repeat: no-repeat;
    background-position-y: 280px;
    background-size: contain;
  }
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.313;
  text-align: center;
  color: #D41443;
  border-radius: 22px;
  border-style: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
}

@media screen and (min-width: 768px) {
  .products {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1280px) {
  .products {
    padding-top: 126px;
    padding-bottom: 119px;
  }
}

.products__span {
  margin-bottom: 15px;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
}

@media screen and (min-width: 768px) {
  .products__span {
    font-size: 26px;
    line-height: 1.15;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .products__span {
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
  }
}

.products__heading {
  margin-bottom: 157px;
  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .products__heading {
    margin-bottom: 167px;
    font-size: 48px;
    line-height: 1.14;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .products__heading {
    margin-bottom: 176px;
    font-size: 58px;
    line-height: 1.13;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .products__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -10px;
    margin-righ: -10px;
  }
}

@media screen and (min-width: 1280px) {
  .products__about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -12px;
    margin-righ: -12px;
  }
}

.products__list {
  margin-bottom: 0;
  border-radius: 24px;
  width: 280px;
}

@media screen and (max-width: 479px) {
  .products__list {
    text-align: center;
    max-width: 280px;
    height: 485px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) {
  .products__list {
    text-align: center;
    max-width: 280px;
    height: 485px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .products__list:not(:last-child) {
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 768px) {
  .products__list {
    -ms-flex-preferred-size: calc((100% - 3 * 20px) / 3);
        flex-basis: calc((100% - 3 * 20px) / 3);
    margin-left: 10px;
    margin-right: 10px;
    max-width: 220px;
    height: 485px;
  }
}

@media screen and (min-width: 1280px) {
  .products__list {
    -ms-flex-preferred-size: calc((100% - 3 * 24px) / 3);
        flex-basis: calc((100% - 3 * 24px) / 3);
    margin-left: 12px;
    margin-right: 12px;
    max-width: 330px;
    height: 525px;
  }
}

.products__list-ice {
  background: #FFB8CA;
}

@media screen and (min-width: 480px) {
  .products__list-ice {
    padding-top: 161px;
  }
}

@media screen and (max-width: 479px) {
  .products__list-ice {
    padding-top: 161px;
  }
}

@media screen and (min-width: 768px) {
  .products__list-ice {
    padding-top: 152px;
  }
}

@media screen and (min-width: 767px) {
  .products__list-ice {
    padding-top: 152px;
  }
}

@media screen and (min-width: 1280px) {
  .products__list-ice {
    padding-top: 163px;
  }
}

.products__list-coffe {
  background: #F0D1A5;
}

@media screen and (min-width: 480px) {
  .products__list-coffe {
    padding-top: 161px;
  }
}

@media screen and (max-width: 479px) {
  .products__list-coffe {
    padding-top: 161px;
  }
}

@media screen and (min-width: 768px) {
  .products__list-coffe {
    padding-top: 152px;
  }
}

@media screen and (min-width: 767px) {
  .products__list-coffe {
    padding-top: 152px;
  }
}

@media screen and (min-width: 1280px) {
  .products__list-coffe {
    padding-top: 163px;
  }
}

.products__list-milk {
  background: #C2E297;
}

@media screen and (min-width: 480px) {
  .products__list-milk {
    padding-top: 161px;
  }
}

@media screen and (max-width: 479px) {
  .products__list-milk {
    padding-top: 161px;
  }
}

@media screen and (min-width: 768px) {
  .products__list-milk {
    padding-top: 152px;
  }
}

@media screen and (min-width: 767px) {
  .products__list-milk {
    padding-top: 152px;
  }
}

@media screen and (min-width: 1280px) {
  .products__list-milk {
    padding-top: 163px;
  }
}

.products__list-tittle {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-left: 52px;
  padding-right: 52px;
  width: 100%;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .products__list-tittle {
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .products__list-tittle {
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 38px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__list-text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .products__list-text {
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .products__list-text {
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 62px;
    margin-top: 32px;
    font-size: 16px;
    line-height: 1.75;
  }
}

@media screen and (min-width: 480px) {
  .products__list-text {
    padding-top: 66px;
  }
}

@media screen and (max-width: 479px) {
  .products__list-text {
    padding-top: 66px;
  }
}

@media screen and (min-width: 768px) {
  .products__list-text {
    padding-top: 66px;
  }
}

@media screen and (min-width: 767px) {
  .products__list-text {
    padding-top: 66px;
  }
}

@media screen and (min-width: 1280px) {
  .products__list-text {
    padding-top: 70px;
  }
}

.products {
  background-image: url("../../images/ja.png");
}
/*# sourceMappingURL=main.css.map */