.contacts
{   background-image:linear-gradient(to top, $backgroundColor 96%, $primaryColor 4% );
    height: 1586px;
}


  @media screen and (min-width: 768px) {
      .contacts {
        background-image: linear-gradient(to top, $backgroundColor 93%, $primaryColor 7%);
        height: 834px;
      }
  }
 @media screen and (min-width: 1280px)
 {
    .contacts {
            background-image:  url(../images/sectionbg2.png) ,linear-gradient(to top, $backgroundColor 99%, $primaryColor 1%);
            background-position-y: 102px;
            background-repeat: no-repeat;
            background-size: contain;
            height: 867px;
        }
 }