$mainFont: "DM Sans", sans-serif;
$secondaryFont: "Titan One", sans-serif;
$primaryColor: #FFFFFF; 
$secondaryColor: #000000;
$borderColor: #E1E1E1;
$descriptionColor: #907E82;
$headerColor: #FFB8CA;
$backgroundColor: #FFF5F6;
$mainTextColor: #D41443;
$accentColor: #FFA5BA;
$accentColorFooter:#FEA5BB;
$mobileMenuBg: #E17992;
$mobileMenuBorder: #E18298;
$mobileMenuHover:#D41443;
$buttonHover:#ECEBEB;
