<section class="about">

  <div class="container">
<div class="section-headings">
  <p class="undertitle">tradition and love</p>
  <h3 id="about" class="sectiontitle">how it’s made?</h3>
</div>
<div class="content-box">
    <div class="photos">
      <picture class="title_picture">
        <source media="(min-width:1280px)" srcset="./images/krowa_desktop.png 1x, ./images/krowa@2x_desktop.png 2x">
        <source media="(min-width:768px) and (max-width:1279px)" srcset="./images/krowa_tablet.png 1x, ./images/krowa@2x_tablet.png 2x">
        <source media="(min-width:199px) and (max-width:767px)" srcset="./images/krowa_mobile.png 1x, ./images/krowa@2x_mobile.png 2x">
      <img src="./images/krowa_mobile.png" alt="krowa"/>
      </picture>
      </div>

    <ul class="paragraphs list">

      <li class="paragraphs_main">
        <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor.
        Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
      </li>
      <li class="paragraphs_main--second"><p class="internal">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
        <!-- <br><br> -->
        <p>Aliquam erat volutpat. Aenean accumsan.</p>
      </li>
      <li class="button-item"><button class="button about_btn" type="button" data-modal-open>Read more<svg class="svg">
          <use href="./images/button.svg#icon-Vector-1"></use>
        </svg></button>
      </li>
    </ul>


    </div>

  </div>
</section>





