<section class="advantages">
  <div class="container">
    <h2 id="advantages" class="advantages__first-heading">ADVANTAGES</h2>
    <ul class="advantages__list list">
    <li class="advantages__group">
      <ul class="list">
      <li class="advantages__item advantages__item--cow ">
        <picture class="advantages__picture">
          <source media="(min-width:1280px)" srcset="./images/wymiona_desktop.png 1x, ./images/wymiona@2x_desktop.png 2x">
          <source media="(min-width: 768px) and (max-width: 1279px)" srcset="./images/wymiona_tablet.png 1x, ./images/wymiona@2x_tablet.png 2x">
          <source media="(min-width: 320px) and (max-width: 767px)" srcset="./images/wymiona_mobile.png 1x, ./images/wymiona@2x_mobile.png 2x">
          <img src="./images/wymiona_mobile.png" alt="wymiona"/>
        </picture>

      </li>
      <li class="advantages__item number">
        <p class="advantages__paragraph">721</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </li>
    <li class="advantages__group">
      <ul class="list">
      <li class="advantages__item advantages__item--fruit">
        <picture class="advantages__picture">
          <source media="(min-width:1280px)" srcset="./images/owoce_desktop.png 1x, ./images/owoce@2x_desktop.png 2x">
          <source media="(min-width: 768px) and (max-width: 1279px)" srcset="./images/owoce_tablet.png 1x, ./images/owoce@2x_tablet.png 2x">
          <source media="(min-width: 320px) and (max-width: 767px)" srcset="./images/owoce_mobile.png 1x, ./images/owoce@2x_mobile.png 2x">
          <img src="./images/owoce_mobile.png" alt="owoce"/>
        </picture>
      </li>
      <li class="advantages__item number">
        <p class="advantages__paragraph">16kg</p>
      </li>

      <li class="advantages__item">
        <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </li>
    <li class="advantages__group">
      <ul class="list">
      <li class="advantages__item advantages__item--heart">

        <picture class="advantages__picture">
          <source media="(min-width:1280px)" srcset="./images/serce_desktop.png 1x, ./images/serce@2x_desktop.png 2x">
          <source media="(min-width: 768px) and (max-width: 1279px)" srcset="./images/serce_tablet.png 1x, ./images/serce@2x_tablet.png 2x">
          <source media="(min-width: 320px) and (max-width: 767px)" srcset="./images/serce_mobile.png 1x, ./images/serce@2x_mobile.png 2x">
          <img src="./images/serce_mobile.png" alt="owoce"/>
        </picture>

      </li>
      <li class="advantages__item number">
        <p class="advantages__paragraph">84</p>
      </li>
      <li class="advantages__item">
        <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </li>
    </ul>
  </div>
</section>