<header class="header">
  <div class="container">
    <div class="header__top">
      <picture>
      <source srcset="./images/logo.jpg 1x, ./images/logo@2x.jpg 2x" media="(min-width: 320px) and (max-width: 767px)" />
      <img class="header__logo link" src="/images/logo.jpg" alt="logo of company"/>
      </picture>
    
      <nav class="header__nav">
        <a href="../src/index.html" class="header__link link">Home</a>
        <a href="#customerreviews" class="header__link link">About us</a>
        <a href="#about" class="header__link link">How it's made?</a>
        <a href="#products" class="header__link link">Our products</a>
        <a href="#contacts" class="header__link link">Contact</a>
      </nav>
      
      
    
      
      <button type="button" class="header__btn--top">Buy now</button>
    </div>
    <svg class="header_menu" data-mobile-menu-open width="20" height="12">
        
          <use href="./images/sprite.svg#icon-Burger"></use>
        </svg>
    <!-- <div class="header__bottom"> -->
      <h1 class="header__title">
      
        Ice cream <br> made with <br> <span class="header__title-passion">passion</span>
      </h1>
      <div class="header__buttons">
        <button onclick="location.href='#products';" type="button" class="button hero__button"><span class="hero__link">Products</span></button>
        <button onclick="location.href='#about';" type="button" class="button hero__button2"><span class="hero__link2">How it's made?</span></button>

        
      </div>
        <picture class="header__ice-cream">
        <source srcset="./images/ice-cream.png 1x, ./images/ice-cream@2x.png 2x" media="(min-width: 320px) and (max-width: 767px)"/>
        <source srcset="./images/ice-cream-tablet.png 1x, ./images/ice-cream-tablet@2x.png 2x" media="(min-width: 768px) and (max-width: 1279px)"/>
        <source srcset="./images/ice-cream-desktop.png 1x, ./images/ice-cream-desktop@2x.png 2x" media="(min-width: 1280px)"/>
        <img
        class="header__ice-cream"
        src="./images/ice-cream.png"
        alt="ice-cream"
        /></picture>
        <picture class="header__tasty">
        <source srcset="./images/soo-tasty-tablet.png 1x, ./images/soo-tasty-tablet@2x.png 2x" media="(min-width: 768px) and (max-width: 1279px)"/>
        <source srcset="./images/soo-tasty-desktop.png 1x, ./images/soo-tasty-desktop@2x.png 2x" media="(min-width: 1280px)"/>
        <img
        class="header__tasty"
        src="./images/soo-tasty-tablet.png"
        alt="soo tasty"/></picture>
        <div class="cafe">
          <div class="cafe__ellipse"></div>
          <a class="cafe__number">16</a><a class="cafe__text">cafes</a>
        </div>
        <div class="trucks">
          <div class="trucks__ellipse"></div>
          <a class="trucks__number">23</a><a class=trucks__text>food trucks</a>
        </div>
        <picture class="header__milk">
        <source srcset="./images/milk-tablet.png 1x, ./images/milk-tablet@2x.png 2x" media="(min-width: 768px) and (max-width: 1279px)"/>
        <source srcset="./images/milk-desktop.png 1x, ./images/milk-desktop@2x.png 2x" media="(min-width: 1280px)"/>
        <img class="header__milk" src="./images/milk-tablet.png" alt="milk"/></picture>
        
        
        
        <p class="header__milk-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et</p>
        <picture class="header__arrow">
        <source srcset="./images/arrow-tablet.png 1x, ./images/arrow-tablet@2x.png 2x" media="(min-width: 768px) and (max-width: 1279px)"/>
        <source srcset="./images/arrow-desktop.png 1x, ./images/arrow-desktop@2x.png 2x" media="(min-width: 1280px)"/>
        <img
        class="header__arrow" src="./images/arrow-tablet.png" alt="arrow"/></picture>
        
  </div>
</header>