<section class="products" id="section-products">
    <div class="container">
        <p class="products__paragraph">100% natural</p>
        <h2 id="products" class="products__heading">PRODUCTS</h2>
            <ul class="list products__about">
                <li class="products__list products__list--ice">
                    <h3 class="products__list--tittle">ICE CREAM</h3>
                    <p class="products__list--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button class="products__list--button">
                        <svg width="20px" height="20px">
                            <use href="../src/images/arrow.svg#arrow"></use>
                        </svg>
                            </button>
                </li>
                <li class="products__list products__list--coffe">
                    <h3 class="products__list--tittle">ICE COFFEE</h3>
                    <p class="products__list--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button class="products__list--button">
                        <svg width="20px" height="20px">
                            <use href="../src/images/arrow.svg#arrow"></use>
                        </svg>
                            </button>
                </li>
                <li class="products__list products__list--milk">
                    <h3 class="products__list--tittle">MILKSHAKES</h3>
                    <p class="products__list--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                        <button class="products__list--button" >
                    <svg width="20px" height="20px">
                        <use href="../src/images/arrow.svg#arrow"></use>
                    </svg>
                        
        </div>
</section>