.button {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.313;
      text-align: center;
      color: $mainTextColor;
      border-radius: 22px;
      border-style: none;
      cursor: pointer;
}